{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}

{% comment %} {% block content %} {% endcomment %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form method="POST" class="min-vh-100 g-3">
                {% csrf_token %}

                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="inputUsername" required>

                <label class="form-label mt-3">Email</label>
                <input type="email" class="form-control" name="inputEmail" required>

                <label class="form-label mt-3">Password</label>
                <input type="password" class="form-control" name="inputPassword" required>

                <button type="submit" class="btn btn-primary mt-4">Signup</button>
            </form>

        </div>
    </div>
</div>
{% comment %} {% endblock %} {% endcomment %}
